<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<div layout:fragment="content" class="container-fluid">
    <div class="row mx-4 my-4">

        <!-- 좌측 사이드 메뉴 -->
        <div class="col-xl-2">
            <!-- 의약품 이름 검색 빠른메뉴 -->
            <div class="col-xl-12">
                <div class="card border border-dark">
                    <!-- Card Header -->
                    <div class="card-header bg-dark text-white">
                        <h5 class="m-0"><b>빠른 검색</b></h5>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body text-dark">
                        <form method="GET">
                            <div class="row">
                                <div class="col-sm-4 mb-3">
                                    <select class="form-select-sm text-start" name="searchFilter">
                                        <option value="itemName">제품명</option>
                                        <option value="enterpriseName">업체명</option>
                                    </select>
                                </div>
                                <div class="col-sm-8 mb-3">
                                    <input type="text" class="form-control border-dark" name="searchValue" placeholder="검색어 입력">
                                </div>
                            </div>
                            <div class="row">
                                <button type="submit" class="btn btn-dark btn-block me-4">검색</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <BR>

            <!-- 정보조회 빠른메뉴 -->
            <div class="row mb-3 mb-xl-0">
                <div class="col-xl-12">
                    <div class="card border border-dark">
                        <!-- Card Header -->
                        <div class="card-header bg-dark text-white">
                            <h5 class="m-0"><b>정보조회</b></h5>
                        </div>

                        <!-- Card Body -->
                        <div class="card-body text-dark">
                            <div><a class="card-text text-dark" href="/info/medication">의약품 정보조회</a></div>
                            <div><a class="card-text text-dark" href="/info/healthFood"><b>건강기능식품 정보조회</b></a></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- 우측 게시판 보드 -->
        <div class="col-xl-10">
            <div class="card border border-dark h-100">
                <!-- Card Header -->
                <div class="card-header bg-dark text-white">
                    <h5 class="m-0"><b>건강기능식품 상세 조회</b></h5>
                </div>

                <!-- Card Body -->
                <div class="card-body text-dark">
                    <h4 class="card-title">기본정보</h4>
                    <div class="table-responsive">
                        <table class="table table-borderless table-sm">
                            <tr>
                                <td class="text-start"><strong>제품명</strong></td>
                                <td class="text-start" th:text="${healthFoodInfo.itemName}"></td>
                            </tr>
                            <tr>
                                <td class="text-start"><strong>업체명</strong></td>
                                <td class="text-start" th:text="${healthFoodInfo.enterpriseName}"></td>
                            </tr>
                            <tr>
                                <td class="text-start"><strong>성상</strong></td>
                                <td class="text-start" th:text="${healthFoodInfo.chart}"></td>
                            </tr>
                            <tr>
                                <td class="text-start"><strong>등록일</strong></td>
                                <td class="text-start" th:text="${healthFoodInfo.registeredDate}"></td>
                            </tr>
                            <tr>
                                <td class="text-start"><strong>품목기준코드</strong></td>
                                <td class="text-start" th:text="${healthFoodInfo.itemSeq}"></td>
                            </tr>
                            <tr>
                                <td class="text-start"><strong>보존 및 유통기한</strong></td>
                                <td class="text-start" th:text="${healthFoodInfo.validDate}"></td>
                            </tr>
                        </table>
                    </div>
                    <hr>

                    <h4 class="card-title">효능효과</h4>
                    <p th:text="${healthFoodInfo.mainFunction}"></p>
                    <hr>

                    <h4 class="card-title">용법용량</h4>
                    <p th:text="${healthFoodInfo.useMethod}"></p>
                    <hr>

                    <h4 class="card-title">사용상의 주의사항</h4>
                    <p th:text="${healthFoodInfo.precaution}"></p>
                    <hr>

                    <h4 class="card-title">기준규격</h4>
                    <p th:text="${healthFoodInfo.baseStandard}"></p>
                    <hr>
                </div>
            </div>
        </div>

    </div>
</div>

<style>
    .page-item.active .page-link {
        font-weight: bold;
        background-color: black;
    }

    .page-item.disabled .page-link {
        color: gray;
        background-color: #e6e6e6;
    }
</style>
</html>