{{>layout/header}}
{{>layout/banner}}
<div class="container-fluid">
    <!-- Row 1 -->
    <div class="row mx-4 my-4">
        <!-- Fast HyperLink for 의약품 & 건강기능식품 정보조회 -->
        <div class="col-6">
            <div class="card border border-dark h-100">
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title"><strong><a class="text-dark" href="#">의약품 & 건강기능식품 정보 조회</a></strong></h5>
                    <p class="card-text"><a class="text-dark" href="#">
                        This is a wider card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.
                    </a></p>
                </div>
            </div>
        </div>

        <!-- Fast HyperLink for 병용금지약물 -->
        <div class="col-6">
            <div class="card border border-dark h-100">
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title"><strong><a class="text-dark" href="#">병용금지약물</a></strong></h5>
                    <p class="card-text"><a class="text-dark" href="#">
                        This is a wider card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.
                    </a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Row 2 -->
    <div class="row row-cols-2 mx-4 my-4">
        <!-- Fast HyperLink for 약국위치 확인 -->
        <div class="col-6">
            <div class="card border border-dark h-100">
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title"><strong><a class="text-dark" href="#">약국위치 확인</a></strong></h5>
                    <p class="card-text"><a class="text-dark" href="#">
                        This is a wider card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.
                    </a></p>
                </div>
            </div>
        </div>

        <!-- Fast HyperLink for 알리미 -->
        <div class="col-6">
            <div class="card border border-dark h-100">
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title"><strong><a class="text-dark" href="#">복약 알리미</a></strong></h5>
                    <p class="card-text"><a class="text-dark" href="#">
                        This is a wider card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.
                    </a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{{>layout/footer}}